/* html {
  scroll-behavior: smooth;
}

.section-container {
  scroll-snap-type: y mandatory; 
  overflow-y: scroll; 
  height: 100vh; 
}

.section {
  scroll-snap-align: start; 
  height: 100vh; 
} */

.navbar-dropdown {
  max-height: 0;
  transition: max-height 0.3s ease-out;
  overflow: hidden;
}

.navbar-dropdown.open {
  max-height: 200px;
}